@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --color-primary: #00C3FB;
    --color-accent: #28FF7E;
    --color-text: #052934;
    --color-text-alt: #C0C9CC;
    --color-bg-primary: white;
    --color-bg-secondary: #ECF1F9;
    --content-padding: 10%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
}

main {
    margin-top: 6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

h1 span, h2 span, h3 span, h4 span {
    color: var(--color-primary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

button, a {
    transition: opacity 200ms;
}

button:hover, a:hover {
    opacity: .5;
}

.primary-btn, .outline-btn {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
}

.primary-btn {
    background-color: var(--color-primary);
    color: white;
}

.outline-btn {
    color: var(--color-text);
    border: 2px solid var(--color-text);
}

.v-stepper-header {
    box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
    :root {
        --content-padding: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}